<div class="mb-3 mx-2">
  <div class="card row">
    <div class="col-6 card-image p-0">
      <img mat-card-image src="{{ produto.imagemUrl }}">
    </div>
    <div class="col-6">
      <div class="card-titulo">
        {{ produto.titulo }}
      </div>
      <!-- <div class="card-subtitulo">
        {{ produto.descricao }}
      </div>
      <div class="card-info">
        Autor: {{ produto.autor }}
        Lançamento: {{ produto.dataLancamento | date: 'dd/MM/yyyy' }}
      </div> -->
      <div class="preco-produto">
        {{ produto.preco | currency:'BRL' }}
      </div>
      <div class="card-actions">
        <mat-label>Quantidade</mat-label>
        <div class="btn-qtd">
          <mat-select placeholder="Qtd">
            <mat-option *ngFor="let item of arrQtd" [value]="item" class="d-flex justify-content-center">
              {{ item }}
            </mat-option>
          </mat-select>
        </div>
        <button mat-button class="btn-block btn-success" (click)="handleAddToCart(produto.id)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>



<!-- <mat-card class="example-card" (click)="viewProductDetails(produto.id)">
  <mat-card-header>
    <mat-card-title class="card-titulo">{{ produto.titulo }}</mat-card-title>
    <mat-card-subtitle class="card-subtitulo">{{ produto.descricao }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ produto.imagemUrl }}" class="card-image">
  <mat-card-content>
    <mat-card-subtitle class="card-info">Autor: {{ produto.autor }}</mat-card-subtitle>
    <mat-card-subtitle class="card-info">Lançamento: {{ produto.dataLancamento | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    <span class="preco-produto">{{ produto.preco | currency:'BRL' }}</span>
  </mat-card-content>
  <mat-card-actions class="row">
    <div class="col-4 btn-qtd">
      <mat-label>Quantidade</mat-label>
      <mat-select placeholder="Qtd">
        <mat-option *ngFor="let item of arrQtd" [value]="item" class="d-flex justify-content-center">
          {{ item }}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-8">
      <button mat-button class="btn-block btn-success" (click)="handleAddToCart(produto.id)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card> -->
