.card {
  height: 12rem;
}

.card-image {
  max-height: 100%;
}

.mat-card-image {
  max-height: inherit;
}

.preco-produto {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

::ng-deep .mat-card {
  background-color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
}

.card-titulo {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}

.card-subtitulo {
  font-size: .6rem;
}

.card-info {
  font-style: italic;
  font-size: .5rem;
  margin-bottom: .5rem;
}

// .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
//   margin: .25rem 0;
// }

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btn-qtd {
  border: 1px solid rgba(0,0,0,.54);
    border-radius: 4px;
    padding: .25rem .25rem .25rem 1rem;
}
